body{
    font-family: 'Courier New', monospace;
}

.content{
    max-width: 555px;
    margin: auto;
    background: black;
    padding: 4px;
}

.oberste{
    line-height: 200px;
}

.title-head{
    text-align: center;
    font-size: 66px;
    color: #8E24AA;
    line-height: 2px;
}

.link-section{
    text-align: center;
    color: aqua;
    line-height: 20px;
    text-decoration: none;
}

.normal-text{
    text-align: left;
    color: whitesmoke;
}

.un{
    text-decoration: dashed;
}

.projects{
    block-size: 40%;
    border-block-color: white;
}